extends layout/layout
block css
	link(rel='stylesheet', href='/stylesheets/notes.css')
block content
	include note/listing-one
	include note/listing-one
	include note/listing-one
	include note/listing-one
	include note/listing-one
	include note/listing-one