div.body.span4
	div.span3.hidden-phone(style="background-color: #999; height: 50px;")
	div.span9
		div.visible-phone(style="background-color: #999; height: 50px; width: 50px;")
		h3(style="margin: 0px; font-size: 16px; line-height: 20px;") Super titre
		h5(style="font-size: 14px; line-height: 16px; margin: 0px; color: #999;") Le 31/10/2013 à 10h49
		p(style="font-size: 12px; line-height: 14px; margin: 0px; margin-top: 5px; color: #666;") Lorem ipsum dolor sit amet ...